{% extends "base.html" %}{% block title %}header{% endblock %} {% block
head_import %}
<link rel="stylesheet" href="{{ url_for('static',path='headers.css') }}" />{%
endblock %} {%block content%}
<!-- icon2 -->

<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a id="/" href="/" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home" />
              </svg>
              Home
            </a>
          </li>
          <li>
            <a id="/qrcode" href="/qrcode" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2" />
              </svg>
              qrcode
            </a>
          </li>
          <li>
            <a id="/signup" href="/signup" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid" />
              </svg>
              Sign-up
            </a>
          </li>
          <li>
            <a id="/logout" href="/logout" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#people-circle" />
              </svg>
              logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- 警告 -->
<div id="error"></div>
<script
  type="text/javascript"
  src="{{ url_for('static',path='header.js') }}"
></script>
{%block main_content%}{%endblock%} {%endblock%}
