{% extends "header.html" %}{% block title %}signup{% endblock %} {%block
main_content%}
<form method="POST" id="signupForm">
  <h3 style="text-align: center">signup</h3>
  <div class="form-group">
    <label>student id</label>
    <input
      type="text"
      class="form-control"
      name="sid"
      placeholder="student id"
      value="0096c029"
    />
  </div>
  <div class="form-group">
    <label>username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="username"
      value="yc"
    />
  </div>
  <div class="form-group">
    <label>password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="password"
      value="88888888"
    />
  </div>
  <div class="form-group">
    <label>password(confirm)</label>
    <input
      type="password"
      class="form-control"
      name="confirm"
      placeholder="password(confirm)"
      value="88888888"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">submit</button>
</form>
<script type="module" src="{{ url_for('static',path='signup.js') }}"></script>

{%endblock%}
